<footer class="page-footer teal lighten-1">
  <div class="footer-copyright teal">
    <div class="container">
      All articles belong to <a href='https://thenextweb.com/dd/' target="_blank">The Next Web</a>
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>