<nav>
    <div class="nav-wrapper teal">
      <a href="/" class="brand-logo center">Scrape The News</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/KingJeremy2211/newScraper" target="_blank">Git Repo</a></li>
      </ul>
    </div>
  </nav>